/* Extra Small devices (landscape phones, 310px and up) */
@media (min-width: 310px) {
	html,
	body {
		display: flex;
		height: 100%;
		width: 100%;
		background-color: #000;
		top: 2em !important;
		flex-flow: column;
		margin: 0;
		padding: 0;
		justify-content: center;
		align-items: center;
	}

	.elements {
		display: flex;
		height: 80px;
		width: 200px; /* center the elements */
		margin: 0 auto;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.item {
		flex-basis: 540px;
		margin: 10px auto;
	}

	/* Buttons */
	.btn {
		display: block;
		height: 60px;
		width: 200px;
		color: #317ef3;
		border-radius: 10px;
		text-align: center;
		vertical-align: middle;
		line-height: 30px;
		font-size: 10px;
	}

	.button {
		display: inline-block;
		position: relative;
		padding: 15px 30px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		line-height: 8px;
		overflow: hidden;
		transition: 0.2s;
	}

	.btn:hover {
		color: #317ef3;
	}

	.button_line {
		display: block;
		position: relative;
	}

	.button_line-top {
		top: -35px;
		left: -120%;
		height: 3px;
		width: 100%;
		background: linear-gradient(90deg, transparent, #317ef3);
	}

	.button:hover .button_line-top {
		left: 120%;
		transition: 1s;
		transition-delay: 0.25s;
	}

	.button_line-bottom {
		bottom: 10px;
		right: -120%;
		height: 3px;
		width: 100%;
		background: linear-gradient(270deg, transparent, #317ef3);
	}

	.button:hover .button_line-bottom {
		right: 120%;
		transition: 1s;
		transition-delay: 0.25s;
	}

	.button_line-left {
		bottom: -100%;
		left: -30px;
		height: 100%;
		width: 3px;
		background: linear-gradient(0deg, transparent, #317ef3);
	}

	.button:hover .button_line-left {
		bottom: 360%;
		transition: 1s;
		transition-delay: 0s;
	}

	.button_line-right {
		top: -200%;
		right: -165px;
		height: 100%;
		width: 3px;
		background: linear-gradient(180deg, transparent, #317ef3);
	}

	.button:hover .button_line-right {
		top: 300%;
		transition: 1s;
		transition-delay: 0s;
	}

	.button:hover {
		box-shadow: 0 0 10px #317ef3, 0 0 35px #317ef3, 0 0 75px #317ef3;
		background: #317ef3;
		color: #000;
		transition-delay: 1s;
	}

	i {
		margin-top: 10px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	html,
	body {
		display: flex;
		height: 100%;
		width: 100%;
		background-color: #000;
		top: 2em !important;
		flex-flow: column;
		margin: 0;
		padding: 0;
		justify-content: center;
		align-items: center;
	}

	.elements {
		display: flex;
		height: 80px;
		width: 280px; /* center the elements */
		margin: 0 auto;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.item {
		flex-basis: 540px;
		margin: 15px auto;
	}

	/* Buttons */
	.btn {
		display: block;
		height: 70px;
		width: 300px;
		color: #317ef3;
		border-radius: 10px;
		text-align: center;
		vertical-align: middle;
		line-height: 58px;
		font-size: 15pt;
	}

	.button {
		display: inline-block;
		position: relative;
		padding: 15px 30px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 3px;
		line-height: 41px;
		overflow: hidden;
		transition: 0.2s;
	}

	.btn:hover {
		color: #317ef3;
	}

	.button_line {
		display: block;
		position: relative;
	}

	.button_line-top {
		top: -55px;
		left: -120%;
		height: 3px;
		width: 100%;
		background: linear-gradient(90deg, transparent, #317ef3);
	}

	.button:hover .button_line-top {
		left: 120%;
		transition: 1s;
		transition-delay: 0.25s;
	}

	.button_line-bottom {
		bottom: 32px;
		right: -120%;
		height: 3px;
		width: 100%;
		background: linear-gradient(270deg, transparent, #317ef3);
	}

	.button:hover .button_line-bottom {
		right: 120%;
		transition: 1s;
		transition-delay: 0.25s;
	}

	.button_line-left {
		bottom: -100%;
		left: -30px;
		height: 100%;
		width: 3px;
		background: linear-gradient(0deg, transparent, #317ef3);
	}

	.button:hover .button_line-left {
		bottom: 360%;
		transition: 1s;
		transition-delay: 0s;
	}

	.button_line-right {
		top: -260%;
		right: -265px;
		height: 100%;
		width: 3px;
		background: linear-gradient(180deg, transparent, #317ef3);
	}

	.button:hover .button_line-right {
		top: 300%;
		transition: 1s;
		transition-delay: 0s;
	}

	.button:hover {
		box-shadow: 0 0 10px #317ef3, 0 0 45px #317ef3, 0 0 85px #317ef3;
		background: #317ef3;
		color: #000;
		transition-delay: 1s;
	}

	i {
		margin-top: 10px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	html,
	body {
		display: flex;
		height: 100%;
		width: 100%;
		background-color: #000;
		top: 2em !important;
		flex-flow: column;
		margin: 0;
		padding: 0;
		justify-content: center;
		align-items: center;
	}

	.elements {
		display: flex;
		height: 100px;
		width: 380px; /* center the elements */
		margin: 0 auto;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.item {
		flex-basis: 540px;
		margin: 15px auto;
	}

	/* Buttons */
	.btn {
		display: block;
		height: 80px;
		width: 400px;
		color: #317ef3;
		border-radius: 10px;
		text-align: center;
		vertical-align: middle;
		line-height: 60px;
		font-size: 18pt;
	}

	.button {
		display: inline-block;
		position: relative;
		padding: 15px 30px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 4px;
		line-height: 40px;
		overflow: hidden;
		transition: 0.2s;
	}

	.btn:hover {
		color: #317ef3;
	}

	.button_line {
		display: block;
		position: relative;
	}

	.button_line-top {
		top: -57px;
		left: -110%;
		height: 3px;
		width: 100%;
		background: linear-gradient(90deg, transparent, #317ef3);
	}

	.button:hover .button_line-top {
		left: 100%;
		transition: 1s;
		transition-delay: 0.25s;
	}

	.button_line-bottom {
		bottom: 33px;
		right: -110%;
		height: 3px;
		width: 100%;
		background: linear-gradient(270deg, transparent, #317ef3);
	}

	.button:hover .button_line-bottom {
		right: 100%;
		transition: 1s;
		transition-delay: 0.25s;
	}

	.button_line-left {
		bottom: -100%;
		left: -30px;
		height: 100%;
		width: 3px;
		background: linear-gradient(0deg, transparent, #317ef3);
	}

	.button:hover .button_line-left {
		bottom: 350%;
		transition: 1s;
		transition-delay: 0s;
	}

	.button_line-right {
		top: -225%;
		right: -365px;
		height: 100%;
		width: 3px;
		background: linear-gradient(180deg, transparent, #317ef3);
	}

	.button:hover .button_line-right {
		top: 220%;
		transition: 1s;
		transition-delay: 0s;
	}

	.button:hover {
		box-shadow: 0 0 10px #317ef3, 0 0 45px #317ef3, 0 0 85px #317ef3;
		background: #317ef3;
		color: #000;
		transition-delay: 1s;
	}

	i {
		margin-top: 10px;
	}
}