body {
    /*      TODO:
	   * Background Color;
	*/

    display: flex;
    margin: 18em auto;
   
    justify-content: center;
}

#deck {
    display: grid;
    gap: 5px;
}

#results {
    display: grid;
    gap: 5px;
}

#deck > .cell {
    padding: 2.7em;
    text-align: center;

    background-color: #ccc;
    
    font-size: 1em;
    font-family: Baskerville;

    border: 5px solid #333;
}

#deck > .cell .clicked { color: #333; }

#menu > .menu-item {
    display: flex;
    margin-bottom: .5em;

    align-items: center;
    justify-content: center;

    background-color: #ccc;

    line-height: 3em;
    font-size: 1.8em;
    font-family: cursive;

    border: 1px solid #000;
    border-radius: 5px;

    width: 400px;
    height: 80px;
}