body {
    background-color: #000;
}

#container {
    text-align: center;
}

#canvas {
    background-color: #000;
    border: 1px solid #7d7d7d;
}

@media (min-width: 310px) {
    .mobile {
        display: block;
    }

    .hard {
        display: flex;
        justify-content: space-around;
    }

    #left,
    #right,
    #up,
    #down {
        background-color: transparent;
        border: none;
    }

    #left {
        padding-right: 40px;
    }

    #right {
        padding-left: 40px;
    }

    #up {
        margin-bottom: -10px;
    }

    #down {
        margin-top: -10px;
    }

    #left i {
        font-size: 8em;
        color: rgb(235, 93, 84);
    }

    #right i {
        font-size: 8em;
        color: rgb(235, 93, 84);
    }

    #up i {
        font-size: 8em;
        color: rgb(235, 93, 84);
    }

    #down i {
        font-size: 8em;
        color: rgb(235, 93, 84);
    }
}


@media (min-width: 1200px) {
    .mobile {
        display: none;
    }

}


span {
    color: #fff;
}